// Use this template to generate a parameters.json file for
// Flow. Save a copy as 'parameters.json' and keep only
// parameters required for your use case. Remove all comments.

////////// POWER AUTOMATE FLOW PARAMETERS //////////
{
  // The storage account (dataset) and container (folderId) to check for data files
  "storageParameters": {
    "dataset": "mystorageaccount",
    "folderId": "mycontainer",
    "maxFileCount": 100
  },

  "trigger": {
    "value": {
      "scheduled": {
        "interval": 1,
        "frequency": "{Second/Minute/Hour/Day/Week/Month}"
      }
    }
  }
}
