// Use this template to generate a parameters.json file for
// Flow. Save a copy as 'parameters.json' and keep only
// parameters required for your use case. Remove all comments.

////////// POWER AUTOMATE FLOW PARAMETERS //////////
{
  // The logical name of the pre-existing connection to the custom connector
  "connectionReferenceLogicalName": {
    "value": "new_sharedazureblob_dc5a4"
  },
  // The logical name of the api
  "apiLogicalName": {
    "value": "shared_azureblob"
  },
  // The operation ID being used in the Blob Storage connector
  "connectorOperationId": {
    "value": "GetFileContent_V2"
  },

  ///--- SCHEDULED TRIGGER ONLY ---///
  "trigger": {
    "value": {
      "scheduled": {
        "interval": "",
        "frequency": "{Second/Minute/Hour/Day/Week/Month}"
      }
    }
  }
}
