{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "name": {
      "value": "mockapi"
    },
    "location": {
      "value": "Australia Southeast"
    },
    "subscriptionId": {
      "value": "<Subscription ID>"
    },
    "resourceGroup": {
      "value": "<Resource Group Name>"
    },
    "ftpsState": {
      "value": "FtpsOnly"
    },
    "hostingplan_skuCode": {
      "value": "Y1"
    },
    "use32BitWorkerProcess": {
      "value": true
    },
    "linuxFxVersion": {
      "value": "Node|16"
    }
  }
}
