{
  // Authentication details for service principal
  // with access to your organization's Dataverse API.
  "tenantId": "",
  "clientId": "",
  "clientSecret": "",
  "orgWebApiUrl": "https://contoso.api.crm.dynamics.com"
}
