// Use this template to generate a workflow configuration
// file for Flow. Save a copy and keep only what is
// required for your use case. Remove all comments.
{
  "workflowType": "Flow",

  "trigger": {
    "type": "{Manual/Scheduled}",
    "parameters": {
      "interval": "1",
      "frequency": "{Second/Minute/Hour/Day/Week/Month}"
    }
  },

  "dataSource": {
    // Any of: AzureBlobStorage, CustomConnector
    "type": "AzureBlobStorage",
    "name": "GetDataFromAzureBlobStorage",

    // Parameters required by the data source.
    "parameters": {
      // Azure Blob Storage requires the storage
      // account (dataset) and container (folderId)
      // to check for data files.
      "dataset": "mystorageaccount",
      "folderId": "mycontainer",
      "maxFileCount": 100,

      // Event Hubs requires the event hub name,
      // consumer group, content type and maximum
      // events count.
      "eventHubName": "myeventhub",
      "contentType": "application/json",
      "consumerGroupName": "$Default",
      "maximumEventsCount": 50
    },

    ///--- CUSTOM CONNECTORS ONLY ---///
    "isCertified": false,
    "connection": {
      "connectorId": "", // required for non-certified custom connectors only
      "apiName": "", // required for certified custom connectors only
      "operationId": ""
    }
  },

  // Optional
  "dataTransform": {
    "type": "csv_to_json",
    "name": "TransformCSVToJSON"
  },

  "dataSink": {
    "name": "IngestIntoDataverse",
    "upsert": false,
    "parameters": {
      "plural_table_name": {
        "value": "contoso_transactions"
      },

      ///--- UPSERT ONLY ---///

      // The destination table GUID column name.
      "guid_column": {
        "value": "contoso_transactionid"
      },

      // If using alternate keys, provide the table column name, the source
      // property used to match the column value, and the data type. This is
      // used to generate the lookup.
      // Example: /contoso_transactions(contoso_col1='col1value',contoso_col2=123456)
      "alternate_keys": {
        "value": [
          { "column": "contoso_col1", "property": "col1", "type": "string" },
          { "column": "contoso_col2", "property": "col2", "type": "number" }
        ]
      }
    },
    "mapping": {
      // set record's GUID. Leave out to autogenerate GUID.
      "item/contoso_transactionid": "@item()['transaction_id']",

      // all other columns to populate
      "item/contoso_customerid": "@item()['customer_id']",
      "item/contoso_merchantname": "@item()['merchant_name']",
      "item/contoso_timestamp": "@parseDateTime(item()['timestamp'])",
      "item/contoso_amount": "@item()['amount']",
      "item/contoso_merchanttype": "@item()['merchant_type']"
    }
  }
}
