// Use this template to generate a workflow.json file for
// Logic App or Flow. Save a copy and keep only what is
// required for your use case. Remove all comments.
{
  "workflowType": "Flow",

  "trigger": {
    "type": "Scheduled",
    "parameters": {
      "interval": "1",
      "frequency": "{Second/Minute/Hour/Day/Week/Month}"
    }
  },

  "dataSource": {
    "type": "AzureBlobStorage",
    "name": "GetDataFromAzureBlobStorage",

    // Parameters required by the data source.
    // For example, Azure Blob Storage requires the storage
    // account (dataset) and container (folderId) to check
    // for data files.
    "parameters": {
      "dataset": "mystorageaccount",
      "folderId": "mycontainer",
      "maxFileCount": 100
    },

    ///--- CUSTOM CONNECTORS ONLY ---///
    "isCertified": false,
    "connection": {
      "connectorId": "", // required for non-certified custom connectors
      "apiName": "",
      "operationId": ""
    }
  },

  // Optional
  "dataTransform": {
    "type": "csv_to_json",
    "name": "TransformCSVToJSON"
  },

  "dataSink": {
    "name": "IngestIntoDataverse"
  }
}
