// Use this template to generate a parameters.json file for
// Logic App or Flow. Save a copy as 'parameters.json' and keep only
// parameters required for your use case. Remove all comments.
{
  "plural_table_name": {
    "value": "contoso_transactions"
  },

  ////////// POWER AUTOMATE FLOW PARAMETERS //////////

  "connectionReferenceLogicalName": {
    "value": "contoso_sharedcommondataserviceforapps_tmpl"
  },

  ///--- UPSERT ONLY ---///

  // The destination table GUID column name.
  "guid_column": {
    "value": "contoso_transactionid"
  },

  // If using alternate keys, provide the table column name, the source
  // property used to match the column value, and the data type. This is
  // used to generate the lookup.
  // Example: /contoso_transactions(contoso_col1='col1value',contoso_col2=123456)
  "alternate_keys": {
    "value": [
      { "column": "contoso_col1", "property": "col1", "type": "string" },
      { "column": "contoso_col2", "property": "col2", "type": "number" }
    ]
  },

  ////////// LOGIC APP PARAMETERS //////////

  "$connections": {
    "value": {
      "commondataservice": {
        "connectionId": "/subscriptions/{subscription}/resourceGroups/{resource-group}/providers/Microsoft.Web/connections/commondataservice",
        "connectionName": "commondataservice",
        "id": "/subscriptions/{subscription}/providers/Microsoft.Web/locations/{location}/managedApis/commondataservice"
      }
    }
  },
  "organization_url": {
    "value": "https://org12345.crm.dynamics.com"
  },

  ///--- UPSERT ONLY ---///

  // Use one of primary key or alternate key. For more info, visit:
  // https://learn.microsoft.com/en-us/power-apps/developer/data-platform/use-alternate-key-reference-record

  // If using primary key, provide the source property used to match the record GUID.
  // Example: /contoso_transactions(00000000-0000-0000-0000-000000000000)
  "guid_property": {
    "value": "transaction_id"
  },

  // If using alternate keys, provide the table column name, the source
  // property used to match the column value, and the data type. This is
  // used to generate the lookup.
  // Example: /contoso_transactions(contoso_col1='col1value',contoso_col2=123456)
  "alternate_keys": {
    "value": [
      { "column": "contoso_col1", "property": "col1", "type": "string" },
      { "column": "contoso_col2", "property": "col2", "type": "number" }
    ]
  }
}
