// Use this template to generate a mapping.json file for
// Flow. Save a copy as 'mapping.json' and remove all
// comments. Replace with mapping for your use case.
{
  // set record's GUID. Leave out to autogenerate GUID.
  "item/contoso_transactionid": "@item()['transaction_id']",

  // all other columns to populate
  "item/contoso_customerid": "@item()['customer_id']",
  "item/contoso_merchantname": "@item()['merchant_name']",
  "item/contoso_timestamp": "@parseDateTime(item()['timestamp'])",
  "item/contoso_amount": "@item()['amount']",
  "item/contoso_merchanttype": "@item()['merchant_type']"
}
