// Use this template to generate a mapping.json file for
// Logic App. Save a copy as 'mapping.json' and remove all
// comments. Replace with mapping for your use case.
{
  // record's GUID, insert only. Leave out to autogenerate GUID.
  "contoso_transactionid": "@item()['transaction_id']",

  // all other columns to populate
  "contoso_amount": "@item()['amount']",
  "contoso_customerid": "@{item()['customer_id']}",
  "contoso_merchantname": "@{item()['merchant_name']}",
  "contoso_merchanttype": "@{item()['merchant_type']}",
  "contoso_timestamp": "@{parseDateTime(item()['timestamp'])}"
}
